[submodule "mcp2210-hidapi"]
	path = mcp2210-hidapi
	url = https://github.com/joemdiente/mcp2210-hidapi
[submodule "mesa"]
	path = mesa
	url = https://github.com/joemdiente/mesa
[submodule "sw-mepa"]
	path = sw-mepa
	url = git@github.com:joemdiente/sw-mepa.git
